*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    background: #000;
    color: #fff;
}

h1{
     font-family: 'Berkshire Swash', cursive;
     font-size: 4.75rem;
     color: #FF5E19;
}

/* hero section css */

.hero-section img {
    max-width: 100%;
    height: 100%;
    width: auto;
    position: relative;
}

.cart-psg img{
    width: 100%;
}

.content{
    position: relative;
}

.content img {
    position: absolute;
    right: 0;
    width: 75px;
    height: auto;
}
img{
    width: 100%;
}

.players{
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.menu {
    border-left: 3px solid #fff;
    position: sticky;
    top: 0;
}

.player{
    border: 1px solid ligh;
}

.border-solid{
    border: 1px solid;
}

.h-80{
    height: 80vh;
}

/* disable class */

.disable-btn{
    background-color: #ddd !important
}

/* toast msg */

/* 
toast massage
*/


.toast-message {
	position: fixed;
	z-index: 999;
	top: 2rem;
	right: 2rem;
	
	color: #000;
	border: 1px solid #fff;
	border-radius: 0.25rem;
	padding: 1rem 2rem;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bg-danger{
    background: #ffdddd;
   border-left: 6px solid #a44436;
}
.bg-success{
    background: #ddffdd;
    border-left: 6px solid #04aa6d;;
}

.toast-message-slide-in {
	animation: toast-animation-in 0.5s ease-in;
}

.toast-message-slide-out {
	animation: toast-animation-out 0.5s ease-in;
}

@keyframes toast-animation-in {
	from {
		transform: translateX(200px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes toast-animation-out {
	from {
		transform: translateX(0px);
		opacity: 1;
	}
	to {
		transform: translateX(200px);
		opacity: 0;
	}
}

/* resopnsive */
@media (max-width:768px) {
    .players{
        grid-template-columns: auto; 
    } 
}

