*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    background: #000;
    color: #fff;
}

h1{
     font-family: 'Berkshire Swash', cursive;
     font-size: 4.75rem;
     color: #FF5E19;
}

/* hero section css */

.hero-section img {
    max-width: 100%;
    height: 100%;
    width: auto;
}
.cart-psg img{
    width: 100%;
}
img{
    width: 100%;
}

.players{
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.menu {
    border-left: 3px solid #fff;
    position: sticky;
    top: 0;
}

.player{
    border: 1px solid ligh;
}

.border-solid{
    border: 1px solid;
}

.h-80{
    height: 80vh;
}